@charset "UTF-8";
@font-face {font-family: Titulos; src: url("Fuentes/Montserrat-Medium.ttf");}
@font-face {font-family: Links; src: url("Fuentes/Montserrat-Bold.ttf");}
@font-face {font-family: Texto; src: url("Fuentes/Roboto-Regular.ttf");}

body,p {
	background-color:#FAE7CB;
	font-family: 'Texto';	
	vertical-align: baseline;
	color:white;
	margin: 0;
	padding: 0;
	border: 0;	
	overflow: hidden;
	}
	
h2,h3{
	margin-top: 0.15em;
	margin-bottom: 0.15em;
	font-family: 'Titulos';
	}
	
h4{
	margin-top: 0.15em;
	margin-bottom: 0.15em;
	font-family: 'Titulos';
	color: #FF7272;
}
	
a:link,a:visited{
	font-family: 'Titulos';
	color: white;
	text-decoration: none;
	}

a:hover{
	color:white;
	font-family: 'Links';
	}
	
/*menu*/
.barra {
  background-color: #FFD31D;
  height: 6%;
  width:100%
}

ul{	
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
	text-align: center;
	font-family: 'Titulos';
  }
 
ul li {
    display: block;
    position: relative;
    float: left;
  }

li ul { 
	display: none;
	}
  
ul li a {
	font-size:16px;
    display: block;
    padding: 13px;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
  }
  
li.sub a {
	margin-top:0px;
}
  
ul li a:hover {
	 background: #FF7272;
	 }
  
li:hover > ul {
    display: block;
    position: absolute;
  }
  
li:hover li {
	  float: none;
	  }
  
li:hover a {
	background: #FFB385;
	}
  
li:hover li a:hover {
	background: #FFB385;
	}
  
  
ul:before,
ul:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  
ul:after {
	clear: both;
	}
	
.center{
    float:none;
    display:inline-block;
    align-content: center;
  }
  
.right{
	float:none;
    display:inline-block;
    align-content: right;
  }
  
.main-navigation{
    position: fixed;
      top: 0;
      width: 100%;
      z-index: 1;
  }
 
pre {
	height:3%;
}
	
/*imagenes*/
	img{
		border-radius:10%;
	}

/*layout index*/
table {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

th{
	color: black;
	font-family: 'Texto';
	padding: 10px;
	text-align: left;
	font-size:20px;
}