@charset "UTF-8";
@font-face {font-family: Titulos; src: url("Fuentes/Montserrat-Medium.ttf");}
@font-face {font-family: Links; src: url("Fuentes/Montserrat-Bold.ttf");}
@font-face {font-family: Codigo; src: url("Fuentes/Roboto-Regular.ttf");}

body {
	overflow-x: hidden;
    overflow-y: scroll;
	background-color:#FAE7CB;
	font-family: 'Titulos';	
	vertical-align: baseline;
	color:white;
	margin: 0;
	padding: 0;
	border: 0;	
	}
	
	p{
	font-family: 'Titulos';	
	font-size:25px;
	margin-bottom: 10;
	vertical-align: baseline;
	margin-top:0;
	margin-left:25px;
	color:black;
	overflow: hidden;
	}
	
	h2,h3{
	margin-bottom: 1;
	margin-left:25px;
	font-size:28px;
	color: #FF7272;
	font-family: 'Titulos';
	}
	
a:link,a:visited{
	font-family: 'Titulos';
	color: white;
	text-decoration: none;
	}

a:hover{
	color:white;
	font-family: 'Links';
	}
	
/*menu*/
.barra {
  background-color: #FFD31D;
  height: 6.5%;
  width:100%;
  position:fixed;
  z-index: 500;
}

ul{	
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
	text-align: center;
	font-family: 'Titulos';
  }
 
ul li {
    display: block;
    position: relative;
    float: left;
  }

li ul { 
	display: none;
	}
  
ul li a { /*aqui está el text¨*/
	margin-top:49px;
	font-size:16px;
    display: block;
    padding: 13px;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
  }
  
li.sub a {
	margin-top:0px;
}
  
ul li a:hover {
	 background: #FF7272;
	 }
  
li:hover > ul {
    display: block;
    position: absolute;
  }
  
li:hover li {
	  float: none;
	  }
  
li:hover a {
	background: #FFB385;
	}
  
li:hover li a:hover {
	background: #FFB385;
	}
  
  
ul:before,
ul:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  
ul:after {
	clear: both;
	}
	
.center{
    float:none;
    display:inline-block;
    align-content: center;
  }
  
.right{
	float:none;
    display:inline-block;
    align-content: right;
  }
  
.main-navigation{
    position: fixed;
      top: 0;
      width: 100%;
      z-index: 1;
  }
	
/*imagenes*/
	img{
		border-radius:10%;
	}
	
	sombra{
		text-shadow: 2px 2px;
	}
	
	.overlay {
		border-radius:10%;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		opacity: 0;
		transition: .5s ease;
		background-color: rgba(255, 114, 114, 0.54);
	}
	
	.text {
		color: white;
		font-size: 20px;
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		text-align: center;
	}
	
	.textotareas {
		color: white;
		font-size: 17px;
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		text-align: center;
	}
	.container:hover .overlay {
		opacity: 1;
	}

	.column {
		float: left;
		padding-left: 20px;
		padding-top: 65px;
		padding-bottom: 5px;
	}

	.row::after {
		content: "";
		clear: both;
		display: table;
	}
	.container {
		top: 15px;
		position: relative;
	}
	
	.centered {
		position: absolute;
		bottom: 8px;
		left: 50%;
	}
	
	.center {
		position: absolute;
		left: 50%;
		top: 20%;
		transform: translate(-50%, -50%);
	}

/*layouts*/	
	.layouttareas1 {
		position: absolute;
		left: 180px;
		top: 3%;
	}
	
	.layouttareas2 {
		position: absolute;
		left: 180px;
		top: 25%;
	}

/*layout investigaciones*/
.text-block3 {
		border-radius:20%;
		position: absolute;
		top:360px;
		right: 15px;
		background-color: #002447;
		color: white;
		padding-left: 132px;
		padding-right: 132px;
	}

.fila{
	font-size:20px;
	margin-bottom:10px;
	font-family:inherit;
	color:black;
	padding-left:50px;
	padding-right:50px;
	padding-top:10px;
}


.fila::after {
		content: "";
		clear: both;
		display: table;
	}

.columnatext {
		font-size:22px;
		font-family:'Titulos';
		text-align: justify;
		text-justify: inter-word;
		margin-top:0;
		margin-right:25px;
		width:80%;
		height:220px;
		float: left;
		text-shadow:1px 1px rgba(137, 0, 0, 0.28);
	}
	
.columnatext2 {
		font-size:22px;
		font-family:'Titulos';
		text-align: justify;
		text-justify: inter-word;
		margin-top:0;
		margin-right:25px;
		width:70%;
		height:220px;
		float: left;
		text-shadow:1px 1px rgba(137, 0, 0, 0.28);
	}
	
.columnabio {
		font-size:22px;
		font-family:'Titulos';
		text-align: justify;
		text-justify: inter-word;
		margin-top:0;
		margin-right:25px;
		width:100%;
		height:220px;
		float: left;
		text-shadow:1px 1px rgba(137, 0, 0, 0.28);
	}

.contenedor {
		position: relative;
	}
	
/*texto codigo*/
hr.separador{
	border-top: 3px dashed #FF7272;
}
.codigotareas {
	color:black;
	font-size:20px;
	font-family:'Codigo';
	text-align: justify;
	text-justify: inter-word;
	margin:1;
	width:1415px;
	height:500px;
	text-shadow:1px 1px rgba(137, 0, 0, 0.28);
    font-family: 'Text';
    overflow-x: hidden;
    overflow-y: scroll;
	padding:10px;
	margin-left:50px;
	margin-right:50px;
	border: double #FF7272;
}

pre{
	font-family:'Codigo';
}