@charset "UTF-8";
@font-face {font-family: Titulos; src: url("Fuentes/Montserrat-Medium.ttf");}
@font-face {font-family: Links; src: url("Fuentes/Montserrat-Bold.ttf");}
@font-face {font-family: Texto; src: url("Fuentes/Roboto-Regular.ttf");}

body,p {
	background-color:#FAE7CB;
	font-family: 'Texto';	
	vertical-align: baseline;
	color:white;
	margin: 0;
	padding: 0;
	border: 0;	
	overflow: hidden;
	}
	
h2,h3{
	margin-top: 0.15em;
	margin-bottom: 0.15em;
	font-family: 'Titulos';
	}
	
h4{
	margin-top: 0.15em;
	margin-bottom: 0.15em;
	font-family: 'Titulos';
	color: #FF7272;
}
	
a:link,a:visited{
	font-family: 'Titulos';
	color: white;
	text-decoration: none;
	}

a:hover{
	color:white;
	font-family: 'Links';
	}
	
/*menu*/
.navbar {
	text-align:center;
	color:white;
  overflow: hidden;
  background-color: #FFD31D;
}

.navbar a {
	text-align:center;
	height:21px;
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown{
	width:48.61%;
	height:48px;
  float: left;
  overflow: hidden;
  font-size: 16px;
	text-align:center;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  text-align: center;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}


.navbar a:hover:not(.active){
	text-align:center;
  background-color: #FFB385;
}

.dropdown:hover:not(.active) .dropbtn:hover:not(.active) {
	text-align: center;
  background-color: #FFB385;
  width:100%;
}

.dropdown-content {
	color:white;
  display: none;
  position: absolute;
  background-color: #FFD31D;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
	color:white;
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover:not(.active) {
  background-color: #FFB385;
}

.dropdown:hover .dropdown-content:hover:not(.active) {
  display: block;
}

/*imagenes*/	
img{
	border-radius:10%;
	}

/*layout index*/
table {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

th{
	color: black;
	font-family: 'Texto';
	padding: 10px;
	text-align: left;
	font-size:20px;
}